<!DOCTYPE html>
<html>
    {% include 'chomper/base.html' %}
	{% load leaflet_tags %}
	{% load geojson_tags %}
    <head>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyCUSkUaTU4DJhuheYoh3_x2y1BBD40N3yc"></script>
    </head>
    <style>
    body{
        height: 100vh;
        max-width: 100vw;
        margin: 0;
        padding: 0;
    }
        .leaflet-container {  /* all maps */
        width:  auto;
        height: 75vh;
    }
		.dropdown {
		max-width: 550px;
        padding: 15px;
        margin: 0 auto;
    }
    .info h4 {
        margin: 0 0 5px;
        color: #777;
    }
    .map-legend {
    line-height: 18px;
    color: #555;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align:left;
    }
    .map-legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
        text-align:left;
    }
    .tooltip{
        position:absolute;
        margin:5px;
        width:200px;
        height:50px;
        border:1px solid black;
        display:none;
    }
    .row {
    margin-right: 0px;
    margin-left: 0px;
    }
    #sidebar {
      width: 25vw;
      height: 77vh;
      max-width: 100%;
      overflow: auto;
      float: left;
      -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
        table{
        table-layout: fixed;
    }
        td{
        text-overflow:ellipsis;
        overflow:hidden;
    }
        th{
        word-wrap: break-word;
    }
		body {
    	background-color: #00BCD6;
	}
    </style>


	<head>
		{% leaflet_js %}
		{% leaflet_css %}
	</head>

    <body>
    <script>
        $(document).ready(function() {
            $("select").select2();
        });

    </script>

    {% if data %}
    <section id="basic" class="row">
        {% if datum %}

{#            <div class="col-sm-3 col-md-3 text-center"></div>#}
{#            <div class="col-sm-9 col-md-9 text-center">#}
        <div class="col-sm-12 col-md-12 text-center">
        <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-3 col-md-3 text-left" style="font-size:12px">
                        <a href="/chomper/googlemaps/">
                          <button type="button" class="btn btn-xs btn-default" id="search-again-btn"><span class="glyphicon glyphicon-arrow-left"></span>Search Again</button>
                        </a>
                    </div>
                    <div class="col-sm-7 col-md-7 text-center" style="font-size:16px">
                            Viewing <strong>{{ datum.numrest }}</strong> {{ datum.establishment }}
                             <a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="topbar-toggle-btn" style="font-size:11px"><span class="glyphicon glyphicon-triangle-bottom"></span>(Show Details)</a>
                    </div>
        </div>
        </div>
        </div>
        {% endif %}

    </section>
    <section id="detail" class="row" style="display:none;">
			{% if datum %}

{#            <div class="col-sm-3 col-md-3 text-center"></div>#}
{#            <div class="col-sm-9 col-md-9 text-center">#}
            <div class="col-sm-12 col-md-12 text-center">
            <div class="panel panel-default">
					<div class="panel-body">
                        <div class="col-sm-3 col-md-3 text-left" style="font-size:12px">
                            <a href="/chomper/googlemaps/">
                              <button type="button" class="btn btn-xs btn-default" id="search-again-btn"><span class="glyphicon glyphicon-arrow-left"></span>Search Again</button>
                            </a>
                        </div>
                        <div class="col-sm-8 col-md-8 text-center" style="font-size:14px">
                                You are viewing <strong>{{ datum.numrest }}</strong> {{ datum.establishment }} between <strong>{{ datum.origin }}}</strong> and <strong>{{ datum.destination }}}.</strong>
                            <br>
                                Traveling via <strong>{{ datum.mode }}</strong>, you are about <strong>{{ datum.duration }}</strong> away from this point.
                            <a href="#" data-toggle="collapse" data-target=".navbar-collapse.in" id="topbar-toggle-off" style="font-size:11px"><span class="glyphicon glyphicon-triangle-top"></span>(Hide Details)</a>
                            <br>
                        </div>
					</div>
            </div>
            </div>
			{% endif %}

    </section>
    <div id="container">
      <div id="sidebar" style="display:none;">
        <div class="sidebar-wrapper">
          <div class="panel panel-default" id="features">
            <div class="panel-heading">
              <h3 class="panel-title">{{ datum.cuisine }} Restaurants
              <button type="button" class="btn btn-xs btn-default pull-right" id="sidebar-hide-btn"><i class="fa fa-chevron-left"></i></button></h3>
            </div>
{#            <div class="panel-body">#}
{#              <div class="row">#}
{#                <div class="col-xs-8 col-md-8">#}
{#                  <input type="text" class="form-control search" placeholder="Filter" />#}
{#                </div>#}
{#                <div class="col-xs-4 col-md-4">#}
{#                  <button type="button" class="btn btn-primary pull-right sort" data-sort="feature-name" id="sort-btn"><i class="fa fa-sort"></i>&nbsp;&nbsp;Sort</button>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
            <div class="sidebar-table">
	            <table data-toggle="table" id="features" class="table table-bordered table-hover table-striped tablesorter" style="cursor: pointer;">
	                <thead>
	                <tr>
	                <th class="header"> Name <i class="icon-sort"></i></th>
					<th class="header" data-sortable="true"> Rating <i class="icon-sort"></i></th>
{#                    <th class="header"> Cuisine <i class="icon-sort"></i></th>#}
                    <th class="header" data-sortable="true"> Extra Time <i class="icon-sort"></i></th>
{#                    <th class="header"> Linkr </th>#}
	                </tr>
	            </thead>
	            <tbody id="the-tbody">
					{% for key in data %}
					<tr class="feature-row" id={{ key.rid }}>
	                    <td>

                            <div style="height:100%;width:100%">
                                <a href= "#" class="highlight" id={{ key.rid }}>
                                {{ key.name }}
                                </a>
                            </div>
                        </td>
	                    <td>{{ key.rating }}</td>
                        <td>{{ key.outofthewaytime }}</td>
	    			</tr>
	            	{% endfor %}
	            </tbody>
	            </table>
	        </div>
          </div>
        </div>
      </div>
    </div>
    <div>
    {% leaflet_map "spots" callback="map_init" %}
    </div>
    {% else %}
	  <section class="row">
		  <div class="container" id="input-form">
			  <form class="form-google" id="google_form" method="post" action="/chomper/googlemaps/">
          			{% csrf_token %}
          			{% load bootstrap %}

				  <div class="col-sm-6">

					  <div class="col-xs-12 text-center">
						  <h3>Enter Locations</h3>
					  </div>

                      <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="col-xs-11 text-center">
                                <input type="text" name="origin" class="form-control" id="origin-loc" placeholder="Enter an origin" value="" required autofocus>
                            </div>
                            <div class="col-xs-1 text-center">
                                 <button type="button" class="btn btn-xs btn-default pull-left" id="curloc-btn" data-toggle="tooltip" title="Use Current Location"><span class="glyphicon glyphicon-pushpin"></span></button>
                            </div>
                            <div class="col-xs-11 text-center">
                                <input type="text" name="destination" class="form-control" id="destination-loc" placeholder="Enter a destination" value="" required autofocus>
                            </div>
                            <div class="col-xs-12 text-center">
                                <div class="btn-group text-center" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        <input type="radio" id="q156" name="mode" value="driving" /> Driving
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" id="q157" name="mode" value="transit" /> Transit
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="radio" id="q158" name="mode" value="walking" checked="checked" /> Walking
                                    </label>
                                </div>
						    </div>


                    </div>
                    </div>

			  		</div>

				  <div class="col-sm-6">

					  <div class="col-xs-12 text-center">
						  <h3>Select Restaurant Category</h3>
					  </div>

					<div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 text-center">
                            <select name="cuisine" id="cuisine-select" style="width: 100%" required>
                                <option selected="selected" disabled value="">Select a cuisine</option>
                                <option data-divider="true" disabled>----Quick / Casual Bites----</option>
                                <option value="Bagels">Bagels</option>
                                <option value="BBQ">BBQ</option>
                                <option value="Breakfast">Breakfast / Brunch</option>
                                <option value="Burgers">Burgers</option>
                                <option value="Cheesesteaks">Cheesesteaks</option>
                                <option value="Coffee">Coffee</option>
                                <option value="Fast Food">Fast Food</option>
                                <option value="Pizza">Pizza</option>
                                <option value="Salad">Salad</option>
                                <option value="Sandwiches">Sandwiches</option>
                                <option value="Soup">Soup</option>

                                <option data-divider="true" disabled>---Sweets----</option>
                                <option value="Bakeries">Bakeries</option>
                                <option value="Cupcakes">Cupcakes</option>
                                <option value="Desserts">Desserts</option>
                                <option value="Donuts">Donuts</option>
                                <option value="Gelato">Gelato</option>
                                <option value="Ice Cream / FroYo">Ice Cream / FroYo</option>

                                <option data-divider="true" disabled>----Bars / Alcohol----</option>
                                <option value="Beer / Wine Stores">Beer / Wine Stores</option>
                                <option value="Beer Bars">Beer Bars</option>
                                <option value="Beer Gardens">Beer Gardens</option>
                                <option value="Breweries">Breweries</option>
                                <option value="Cocktail Bars">Cocktail Bars</option>
                                <option value="Distilleries">Distilleries</option>
                                <option value="Dive Bars">Dive Bars</option>
                                <option value="Pubs">Pubs</option>
                                <option value="Sports Bars">Sports Bars</option>
                                <option value="Wineries">Wineries</option>
                                <option value="Wine Bars">Wine Bars</option>

                                <option data-divider="true" disabled>---Continental----</option>
                                <option value="American">American</option>
                                <option value="Diner">Diner</option>
                                <option value="Seafood">Seafood</option>
                                <option value="Southern">Southern</option>
                                <option value="Steakhouse">Steakhouse</option>
                                <option value="Vegetarian">Vegetarian</option>

                                <option data-divider="true" disabled>----Central / South America----</option>
                                <option value="Brazilian">Brazilian</option>
                                <option value="Caribbean">Caribbean</option>
                                <option value="Cuban">Cuban</option>
                                <option value="Empanadas">Empanadas</option>
                                <option value="Latin">Latin</option>
                                <option value="Mexican">Mexican</option>

                                <option data-divider="true" disabled>----Asia-----</option>
                                <option value="Chinese">Chinese</option>
                                <option value="Indian">Indian</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Sushi">Sushi</option>
                                <option value="Thai">Thai</option>
                                <option value="Vietnamese">Vietnamese</option>

                                <option data-divider="true" disabled>----Africa / Middle East----</option>
                                <option value="African">African</option>
                                <option value="Ethiopian">Ethiopian</option>
                                <option value="Kosher">Kosher</option>
                                <option value="Middle Eastern">Middle Eastern</option>

                                <option data-divider="true" disabled>----Europe----</option>
                                <option value="Belgian">Belgian</option>
                                <option value="British">British</option>
                                <option value="French">French</option>
                                <option value="Greek">Greek</option>
                                <option value="Irish">Irish</option>
                                <option value="Italian">Italian</option>
                                <option value="Mediterranean">Mediterranean</option>
                                <option value="Spanish / Tapas">Spanish / Tapas</option>

                            </select>
                        </div>
                        <br>
                        <br>

                        <div>
                            <br>
                            <br>
                        </div>
                        <div>
                            <div class="col-xs-1 text-right"></div>
                            <div class="col-xs-4 text-right">
                                <label>Find: </label>
                            </div>
                            <div class="col-xs-7 text-left">
                              <input type="radio" name="symbolS" value="Best" checked="checked"><strong>  Best restaurants along route</strong></input>
                              <br>
                                <input type="radio" name="symbolS" value="Route"><strong>  Restaurants closest to route</strong></input>
                              <br>
                              <input type="radio" name="symbolS" value="Central"><strong>  Centrally located restaurants</strong></input>
                            </div>
                        </div>


                    </div>
                </div>
              </div>


              <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit-btn">Search</button>

			  </form>
		  </div>
	  </section>
        {% endif %}

        <div class="col-xs-12 text-center" id="progress" style="color:white;font-size:18px;display:none;">
            <div class="col-xs-3 text-center"></div>
            <div class="col-xs-6 text-center">
                <iframe src="//giphy.com/embed/3o7WTJ736sCIMEVCMg" width="175" height="161" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/cartoon-shark-3o7WTJ736sCIMEVCMg"></a></p>
                Sit tight! We're crunching your results...
            </div>
        </div>


{#    <div class="container">#}
{#        <div class="modal fade" id="myModal" role="dialog">#}
{#            <div class="modal-dialog">#}
{##}
{#              <!-- Modal content-->#}
{#              <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                  <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#                  <h4 class="modal-title">Modal Header</h4>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                  <p>Some text in the modal.</p>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                </div>#}
{#              </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#    </div>#}


		<script type="text/javascript">

        function initialize() {

            var origin_input = document.getElementById('origin-loc');

            var destination_input = document.getElementById('destination-loc');

            var options = {
            };

            var autocomplete_origin = new google.maps.places.Autocomplete(origin_input, options);
            var autocomplete_destination = new google.maps.places.Autocomplete(destination_input, options);
            autocomplete_origin.addListener('place_changed', fillInAddress);
            autocomplete_destination.addListener('place_changed', fillInAddress);

            function fillInAddress() {
              // Get the place details from the autocomplete object.
              var origin_place = autocomplete_origin.getPlace();
              var destination_place = autocomplete_destination.getPlace();



                console.log(origin_place);
{#                console.log(place.address_components[3].long_name);#}

{#                $("#searchName").val(place.name);#}
{#                var address = place.address_components[0].short_name + ' ' + place.address_components[1].short_name;#}
{#                $("#searchAddress").val(address);#}
{#                $("#searchCity").val(place.address_components[3].long_name);#}
{#                $("#searchNeighborhood").val(place.address_components[2].short_name);#}
{#                $("#searchURL").val(place.url);#}
{##}
{#                if (place.address_components[4].types[0] = 'administrative_area_level_1') {#}
{#                    $("#searchState").val(place.address_components[4].short_name);#}
{#                }#}
{#                else {#}
{#                    $("#searchState").val(place.address_components[5].short_name);#}
{#                }#}

            }

        }



        google.maps.event.addDomListener(window, 'load', initialize);



        function showModal(id) {
            $("#myModal").modal();
{#            $('#myModal').on('show', function () {#}
{##}
{#                $('iframe').attr("src",id);#}
{#                #}
{#        	});#}
{#            $('#myModal').modal({show:true})#}
        }

        $(document).on("click", ".modal-link", function(e) {
          showModal(parseInt($(this).attr("id"), 10));

        });


        $('#openBtn').click(function(){

        });

        $('#origin-loc, #destination-loc, #cuisine-select').bind('keyup', function() {
            if(allFilled()) $('#submit-btn').removeAttr('disabled');
        });

        function allFilled() {
            var filled = true;
            $('input-form input').each(function() {
                if($(this).val() == '') filled = false;
            });
            $('input-form select').each(function() {
                if($(this).val() == '') filled = false;
            });
            return filled;
        }

        $("#submit-btn").click(function() {
            $('#input-form').hide();
            $('#progress').show();
        });

        $(window).load(function() {
             $('#progress').hide();
          });


        var symbology = "{{ datum.symbology }}";
        console.log(symbology);

        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        $("#curloc-btn").click(function() {
            var curlocation = ""
            if (navigator.geolocation) { // device can return its location
            navigator.geolocation.getCurrentPosition(function(position) {
                 console.log(position.coords.latitude);
                 console.log(position.coords.longitude);
                 curlocation += position.coords.latitude;
                 curlocation += ", ";
                 curlocation += position.coords.longitude;
                 document.getElementById('origin-loc').value=curlocation;
            })
            }
        });





        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.popupContent) {
                console.log(5 + 6);
                layer.bindPopup(feature.properties.popupContent);
                }
        }

        var options = {
            zoomControl: false
        };
        function map_init (map, options) {
            markerMap = {}; //a global variable unless you extend L.GeoJSON

            var dataurl = '{% url "data" %}';
            // Download GeoJSON via Ajax
            $.getJSON(dataurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data).addTo(map);
            });

            var userpointsurl = '{% url "userpoints" %}';
            // Download GeoJSON via Ajax
            $.getJSON(userpointsurl, function (data) {
                // Add GeoJSON layer
                L.geoJson(data, {
                    pointToLayer: function (feature, latlng) {
                        return L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: 'http://i.imgur.com/cBNFL6T.png',
                                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
                                iconSize: [20, 33],
                                iconAnchor: [12, 41],
                                popupAnchor: [1, -34],
                                shadowSize: [41, 41]
                            })
                        });
                    }
                }).addTo(map);
            });


            var datapointsurl = '{% url "datapoints" %}';
            // Download GeoJSON via Ajax
            $.getJSON(datapointsurl, function (data) {
                // Add GeoJSON layer

                bestlayer = L.geoJson(data, {
                    pointToLayer: function (feature, latlng) {
                        var marker = L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-' + feature.properties.Color + '.png',
                                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
                                iconSize: [25, 41],
                                iconAnchor: [12, 41],
                                popupAnchor: [1, -34],
                                shadowSize: [41, 41]
                            })
                        });
                        markerMap[feature.properties.rid] = marker;
                        return marker;
                    },
                    onEachFeature: onEachFeature
                });
                centrallayer = L.geoJson(data, {
                    pointToLayer: function (feature, latlng) {
                        return L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-' + feature.properties.CentColor + '.png',
                                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
                                iconSize: [25, 41],
                                iconAnchor: [12, 41],
                                popupAnchor: [1, -34],
                                shadowSize: [41, 41]
                            })
                        });
                    },
                    onEachFeature: onEachFeature
                });
                offroutelayer = L.geoJson(data, {
                    pointToLayer: function (feature, latlng) {
                        return L.marker(latlng, {
                            icon: L.icon({
                                iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-' + feature.properties.RouteColor + '.png',
                                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/images/marker-shadow.png',
                                iconSize: [25, 41],
                                iconAnchor: [12, 41],
                                popupAnchor: [1, -34],
                                shadowSize: [41, 41]
                            })
                        });
                    },
                    onEachFeature: onEachFeature
                });



                var bestLegend = L.control({position: 'bottomright'});
                var offRouteLegend = L.control({position: 'bottomright'});
                var centralLegend = L.control({position: 'bottomright'});

                bestLegend.onAdd = function (map) {
                    var legend = L.DomUtil.create('div', 'map-legend', L.DomUtil.get('map'));

                                legend.innerHTML = '<h4>Restaurants by Yelp Rating</h4>';
                                legend.innerHTML += "<img src='https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png' width='12' height='14'>    Rating > 4.0<br />"
                                legend.innerHTML += "<img src='https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png' width='12' height='14'>   Rating 3.0 - 4.0<br />"
                                legend.innerHTML += "<img src='https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png' width='12' height='14'>  Rating < 3.0<br />"

                    return legend;
                };

                centralLegend.onAdd = function (map) {
                    var legend = L.DomUtil.create('div', 'map-legend', L.DomUtil.get('map'));

                            legend.innerHTML = '<h4>Restaurant Points</h4>';
                            legend.innerHTML += "<img src='https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png' width='12' height='14'>    Closer to Origin<br />"
                            legend.innerHTML += "<img src='https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-violet.png' width='12' height='14'>   Centrally Located<br />"
                            legend.innerHTML += "<img src='https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png' width='12' height='14'>  Closer to Destination<br />"

                    return legend;
                };

                offRouteLegend.onAdd = function (map) {
                    var legend = L.DomUtil.create('div', 'map-legend', L.DomUtil.get('map'));

                    legend.innerHTML = '<h4>Time off Route</h4>';
                    legend.innerHTML += "<img src='https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png' width='12' height='14'>     < 5 min<br />"
                    legend.innerHTML += "<img src='https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-orange.png' width='12' height='14'>   5-15 min<br />"
                    legend.innerHTML += "<img src='https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png' width='12' height='14'>  15+ min<br />"

                    return legend;
                };

                if (symbology == 'Central') {
                    centrallayer.addTo(map);
                    centralLegend.addTo(map);
                    }

                else if (symbology == 'Best') {
                    bestlayer.addTo(map);
                    bestLegend.addTo(map);
                }

                else if (symbology == 'Route') {
                    offroutelayer.addTo(map);
                    offRouteLegend.addTo(map);
                }


                var baseMaps = {};
                var overlayMaps = {
                    "Symbol by Central Location": centrallayer,
                    "Symbol by Yelp Rating": bestlayer,
                    "Symbol by Time Off Route": offroutelayer
                };

                L.control.layers(overlayMaps, baseMaps,{collapsed:false}).addTo(map);

                map.on('baselayerchange', function (eventLayer) {
                    // Switch to the Population legend...
                    if (symbology == 'Central') {
                        map.removeControl(centralLegend);
                    }
                    else if (symbology == 'Best') {
                        map.removeControl(bestLegend);
                    }
                    else if (symbology == 'Route') {
                        map.removeControl(offRouteLegend);
                    }
                    if (eventLayer.name === 'Symbol by Central Location') {
{#                        map.removeControl(bestLegend);#}
{#                        map.removeControl(offRouteLegend);#}
                        symbology = 'Central'
                        centralLegend.addTo(map);
                    }
                    else if (eventLayer.name === 'Symbol by Yelp Rating') { // Or switch to the Population Change legend...
{#                        map.removeControl(offRouteLegend);#}
                        symbology = 'Best'
                        bestLegend.addTo(map);
                    }
                    else if (eventLayer.name === 'Symbol by Time Off Route') { // Or switch to the Population Change legend...
{#                        map.removeControl(bestLegend);#}
{#                        map.removeControl(centralLegend);#}
                        symbology = 'Route'
                        offRouteLegend.addTo(map);
                    }
                });

                map.fitBounds(bestlayer.getBounds());
                });

        // Remove a marker
        // $('.highlight').on("click", function () {
        //     // Remove the marker
        //     console.log($(this).attr('id'));
        //     var barker = markerMap[$(this).attr('id')];
        //     barker.openPopup(barker.getLatLng());
        //     console.log(barker.getLatLng());

        // });

        $(document).on("click", ".feature-row", function(e) {
          sidebarClick(parseInt($(this).attr("id"), 10));

        });

        function sidebarClick(id) {
            console.log(id);
            var barker = markerMap[id];
            console.log(barker)
            barker.openPopup(barker.getLatLng());
        }



        map.on('popupopen', function () {
            console.log("yo");
        });

        }


        $("#nav-btn").click(function() {
          $(".navbar-collapse").collapse("toggle");
          return false;
        });

        $("#sidebar-hide-btn").click(function() {
          $('#sidebar').hide();
{#          map.invalidateSize();#}
        });

        $("#topbar-toggle-btn").click(function() {
            $('#basic').toggle();
            $('#detail').toggle();
            $("#sidebar").toggle();
{#          map.invalidateSize();#}
        });

        $("#topbar-toggle-off").click(function() {
            $('#basic').show();
            $('#detail').hide();
            $("#sidebar").hide();
{#          map.invalidateSize();#}
        });

        $("#sidebar-switch-btn").click(function() {
          $("#sidebar").toggle();
                  map.invalidateSize();
        });


		</script>

    </body>
</html>