<!DOCTYPE html>

<html>
    {% include 'chomper/base.html' %}
	<style>
    	.container{
      		background-color: #48B8D2;
    	}
		.row {
    		color: #FFFFFF;
			font-size: 28px;
		}
		body{
      		background-color: #48B8D2;
    	}
  </style>
    <body>
    <div class="container">
		<div class="col-sm-3 col-md-3">
		</div>
		<div class="col-sm-6 col-md-6 text-center">
            {% if user.is_authenticated %}
				<strong>{{ boldmessage }}</strong><br />
			{% else %}
				<h1> Please register/login! </h1>
			{% endif %}
            <div class="col-xs-12 text-center">
                <h3>Select a friend to grab food with!</h3>
                <br>
            </div>


            <form class="form-params" name="params" method="post" action="/">
            {% csrf_token %}
            {% load bootstrap %}


{#            <div class="panel panel-default">#}
{#            <div class="panel-body">#}
{#                <div class="col-sm-6 col-md-6 text-center">#}
{#                    <row>On...</row>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-6 text-center">#}
{#                    <select name="date" style="width: 100%">#}
{#						<option selected="selected" disabled>Select a date / time</option>#}
{#						<option value="today">3/5/2016, Evening</option>#}
{#						<option value="tomorrow">3/6/2016, Afternoon</option>#}
{#					  	<option value="monday">3/7/2016, Evening</option>#}
{#                    </select>#}
{#                </div>#}
{##}
{##}
{#            </div>#}
{#            </div>#}

            <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-6 col-md-6 text-center">
                    <row>With...</row>
                </div>
                <div class="col-sm-6 col-md-6 text-center">
                    <select name="user" style="width: 100%">
						<option disabled>Select friend</option>
						<option value="obama" selected="selected">Barry O.</option>
						<option value="kdenny">Kevin D.</option>
					  	<option value="ted">Ted C.</option>
                    </select>
                </div>


            </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Select Addresses</button>
            <input type="hidden" name="submit" value="submit" />
            </form>
            <br>




			</div>
		</div>

    <script>

    if (navigator.geolocation) { // device can return its location
    navigator.geolocation.getCurrentPosition(function(position) {
         console.log(position.coords.latitude);
         console.log(position.coords.longitude);
    })
    }

    $(document).ready(function() {
        $("select").select2();
    });

    </script>

    {% if data.friend %}
        <form class="form-google" name="google" method="post" action="/chomper/googlemaps/">
        {% csrf_token %}
        {% load bootstrap %}
        <div class="col-sm-3 col-md-3">
		</div>
        <div class="col-sm-6 col-md-6 text-center">
            <div class="panel panel-default">
            <div class="panel-heading text-center">Select a cuisine</div>
            <div class="panel-body">
                <div class="col-sm-9 col-md-9 text-center">
                    <select name="cuisine" style="width: 100%">
                        <option selected="selected" disabled>Select a cuisine</option>
                        <option value="BBQ">BBQ</option>
                        <option value="Italian / Pizza">Italian / Pizza</option>
                        <option data-divider="true"></option>
                        <option value="American">American</option>
                        <option value="Southern">Southern</option>
                        <option value="Steakhouse">Steakhouse</option>
                        <option value="Fast Food">Fast Food</option>
                        <option value="Diner / Breakfast">Diner / Breakfast</option>
                        <option value="Casual">Casual</option>
                        <option value="Seafood">Seafood</option>
                        <option value="Vegetarian">Vegetarian</option>
                        <option data-divider="true"></option>
                        <option value="Caribbean">Caribbean</option>
                        <option value="Latin">Latin</option>
                        <option value="Mexican">Mexican</option>
                        <option data-divider="true"></option>
                        <option value="Thai">Thai</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Indian">Indian</option>
                        <option value="Vietnamese">Vietnamese</option>
                        <option value="Japanese">Japanese</option>
                        <option data-divider="true"></option>
                        <option value="African">African</option>
                        <option value="Spanish / Tapas">Spanish / Tapas</option>
                        <option value="Mediterranean">Mediterranean</option>
                        <option value="Greek">Greek</option>
                        <option value="French / Belgian">French / Belgian</option>
                        <option value="Pub">Pub</option>
				    </select>
                </div>


            </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">Select your current address</div>
                <div class="panel-body">
                    <div class="col-sm-9 col-md-9 text-center">
                        <select name="origin" style="width: 100%">
{#                            <option selected="curloc" >Current Location</option>#}
                            <option>Current Location</option>
                            <option selected="selected" value="250 K St NE Washington, DC">250 K St NE Washington, DC</option>
                            <option value="obama">1600 Pennsylvania Ave NW</option>
                        </select>
                    </div>


                </div>
                </div>

            <div class="panel panel-default">
                <div class="panel-heading text-center">Select address to use for {{ data.friend }}</div>
                <div class="panel-body">
                    <div class="col-sm-9 col-md-9 text-center">
                        <select name="destination" style="width: 100%">
                            <option disabled>Select a location...</option>
                            <option selected="selected" value="1600 Pennsylvania Ave NW Washington, DC">1600 Pennsylvania Ave NW Washington, DC</option>
                            <option value="obama1">Barry O. - White House</option>
                            <option value="raew1">Rachel W. - Home</option>
                            <option value="ted">Ted C. - Capitol</option>
                        </select>
                    </div>


                </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Find Restaurants</button>
                <input type="hidden" name="submit" value="submit" />
                </form>

        </div>
    {% endif %}


    </body>
</html>
